@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}
body{
 background-color: aliceblue;
}

::placeholder{
  text-align: center;
}

::-webkit-scrollbar{
  display: none;
}

#map{
  height: 20vh;
  width: 100%;
}